.btn {
    margin-right: 0.07rem;
    margin-left: 0.07rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    outline: none;
    -webkit-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -moz-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -ms-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    -o-transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn :hover,
.btn :focus {
    text-decoration: none;
}

.btnPrimary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btnPrimary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0069d9;
}

.btnPrimary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}

.btnSecondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btnSecondary:hover {
    color: #fff;
    background-color: #5a6268;
    border-color: #5a6268;
}

.btnSecondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.5);
}